---
const today = new Date();
---

<footer class="text-sm bottom-3 inset-x-0 text-center mt-5">
	<p class="font-medium">&copy; {today.getFullYear()} tanzz. </p>
	All rights reserved. Powered by astro.
</footer>
<style>
</style>
